.wrapper {
    display: flex;
  }
  .input[type="radio"] {
    display: none;
  }
  .check {
    margin: 10px 0 0 10px;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
  }
  .rlabel {
    position: relative;
    color: #e3342f;
    border: 2px solid #e3342f;
    padding: 0 5px;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  .rclabel {
    color: #fff;
    background-color: #e3342f;
    border-color: #e3342f;
  }
  .cc {
    margin-top: 15px;
    margin-bottom: 15px;
  }