.linkk {
    padding: 2rem;
    box-shadow: 0 10px 20px 10px rgb(0 0 0 / 5%),
        0 6px 6px rgb(0 0 0 / 1%);
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
}
.linkk::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
}
.lables{
    color: #555;
    position: absolute;
    pointer-events: none;
    top: 20px;
    left: 35px;
    padding: 0 5px;
    transition: .2s;
    background: #fff;
    margin-left: 5px;
}  
.labelss {
    color: #555;
    position: absolute;
    pointer-events: none;
    top: 90px;
    left: 35px;
    padding: 0 5px;
    transition: .2s;
    background: #fff;
    margin-left: 5px;
}
.orangee::after {
    background-color: hsl(34, 97%, 64%);
}
.redd::after {
    background-color: hsl(0, 78%, 62%);
}

.input{
    border: none;
    border-bottom: 1px solid #aaa;
    outline: none;
}